{% extends 'base.html' %}

{% block content %}
<a href="">Rules</a>
<div class="container text-center">
    {% for row in game_spaces %}
    <div class="row row-cols-auto">
        {% for space in row %}
            <button class="button" id="{{ space }}"> o </button>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<section>
    Equipment
    <label for="Stealth Field">Stealth Field</label>
    <label for="Adrenaline Surge">Adrenaline Surge</label>
    <label for="Flash Bang">Flash Bang</label>
    <button> Use </button>
</section>

<form action="">
    <input type="submit">
</form>

<!-- <script>
    function onButtonClick(buttonId) {
        alert("Button clicked: " + buttonId);
        // Add logic for character movement here
    }
</script> -->

{% endblock %}
